PORT=8000
MONGODB_URI="mongodb://shoaib_zaraan:shabi9696@ac-rpwawlp-shard-00-00.n6rnxxw.mongodb.net:27017,ac-rpwawlp-shard-00-01.n6rnxxw.mongodb.net:27017,ac-rpwawlp-shard-00-02.n6rnxxw.mongodb.net:27017/?ssl=true&replicaSet=atlas-6p8nm6-shard-0&authSource=admin&appName=Cluster0"